[submodule "components/emacs-opencode"]
	path = components/emacs-opencode
	url = https://github.com/nottzaid/emacs-oc.git
[submodule "components/linux-zhixu-controller-fix"]
	path = components/linux-zhixu-controller-fix
	url = https://github.com/nottzaid/linux-zhixu-controller-fix.git
[submodule "components/yt-stream-workspace"]
	path = components/yt-stream-workspace
	url = https://github.com/nottzaid/yt-stream-workspace.git
