[Container]
Image=docker.io/searxng/searxng@sha256:1a9d21346437a41ddfc2286968026dddece1d4d0721625cffa2c3b00bb2f9cf3
ContainerName=searxng
PublishPort=127.0.0.1:8888:8080
Volume=%h/.config/searxng/settings.yml:/etc/searxng/settings.yml:ro
Volume=%h/.config/searxng/limiter.toml:/etc/searxng/limiter.toml:ro
NoNewPrivileges=true

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
