* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    background-image: none;
    font-size: 14px;
    font-weight: 400;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

window {
    background-color: rgba(16, 16, 22, 0.95);
    border: none;
}

button {
    color: transparent;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-width: 160px;
    min-height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 96px;
    outline: none;
    outline-style: none;
    text-decoration: none;
    transition: none;
}

button label {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-height: 18px;
    text-decoration: none;
}

button:focus {
    background-color: transparent;
    font-weight: 400;
    padding: 0;
    outline-style: none;
}

button:hover, button:active, #lock:hover, #logout:hover, #reboot:hover, #shutdown:hover {
    background-color: rgba(122, 162, 247, 0.1);
    color: #c0caf5;
    font-weight: 400;
    padding: 0;
    min-width: 160px;
    min-height: 160px;
    outline-style: none;
    text-decoration: none;
}

button:hover label, button:focus label, button:active label {
    font-weight: 400;
    margin: 0;
    padding: 0;
    min-height: 18px;
    text-decoration: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
